        <footer class="site-footer" style="margin-top: -81px;">
            <div class="container">
              <hr>
              <div class="row" style="width: 90%;">
                <div class="col-md-6 copyright">
                  <span>Copyright © 2018 BagCollection</span>
                </div>
                
                <div class="text-right col-md-6 region-us">
                  <div class="links">
                    <a href="https://github.com/amberhe613/BagCollection"><i class="fa fa-github" aria-hidden="true"></i>  Github</a>
                    &nbsp;|&nbsp;
                    <a href="https://www.linkedin.com/in/amber-zhuoqi-he-903ab870/"><i class="fa fa-linkedin-square" aria-hidden="true"></i>  LinkedIn</a>
                  </div>
                </div>
              </div>
            </div>
        </footer>
    </body>
</html>