<% include ../partials/header %>

<div class="container">
<h1 class="ui header">Sign Up Form</h1>


<form action="/register" method="POST">
    <div class="ui large form segment">
        <div class="field">
          <label>Username</label>
        <input type="text" name="username" placeholder="Username">
        </div>
        <div class="field">
          <label>Password</label>
            <input type="password" name="password" placeholder="Password">
        </div>
      <div class="ui submit button">Submit</div>
    </div>
</form>
</div>
<% include ../partials/footer %> 