<!DOCTYPE html>
<html>
    <head>
        <title>Bag Collection</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.css">
        <link rel="stylesheet" href="landing.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>
    </head>
    <body>
    
    <div class="container">
        <% if(error && error.length > 0){ %>
            <div class="alert alert-danger" role="alert">
                <%= error %>
            </div>
        <% } %>
        <% if(success && success.length > 0){ %>
            <div class="alert alert-success" role="alert">
                <%= success %>
            </div>
        <% } %>
    </div>
    
    <div id="landing-header">
 		<h1 style="font-size: 60px" >Welcome to Bag Collection!</h1>
 		<hr>
		<a href="/bagList" class="ui huge basic inverted button">View All Bags</a>
		<p style="padding-top: 12px;">
            <a href="https://www.facebook.com/profile.php?id=100009345007076&ref=bookmarks" class="ui circular facebook icon button">
                <i class="facebook icon"></i>
            </a>
            <a href="https://www.linkedin.com/in/amber-zhuoqi-he-903ab870" class="ui circular linkedin icon button">
                <i class="linkedin icon"></i>
            </a>
            <a href="https://github.com/amberhe613/BagCollection" class="ui circular github icon button">
                <i class="github icon"></i>
            </a>
		</p>
    </div>
    
    <ul class="slideshow">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
